
<div class="login__container">
	<div class="login-box">

<<<<<<< Updated upstream
@{
    ViewData["Title"] = "Авторизация";
}
<section class="authside">
    <img src="/img/authLogo.svg" alt="Breez" class="authside__logo">
<form method="post" asp-action="Login">
   
    <input type="text" id="username" name="username" required placeholder="Логин"/>
    <input type="password" id="password" name="password" required placeholder="Пароль"/>
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
    <button type="submit">ВХОД</button>
</form>
</section>
=======
		<h2>Авторизация</h2>

		<form method="post" asp-action="Login">
			<label for="username">Логин</label>
			<input type="text" id="username" name="username" required />
		
			<label for="password">Пароль</label>
			<input type="password" id="password" name="password" required />
		
			<p>@ViewBag.Error</p>
			<button type="submit">Авторизоваться</button>
		</form>
	</div>
</div>
>>>>>>> Stashed changes
