<div class="row">
	<ul>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="RemoteAccess" asp-action="AutomaticRemoteAccess">Удаленный доступ</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="RemoteAccess" asp-action="HandRemoteAccess">Отключение удаленного доступа</a>
		</li>
	</ul>
</div>