<div class="row menu-list">

	<a class="menu-link text-dark" asp-controller="RemoteAccess" asp-action="AutomaticRemoteAccess">Удаленный доступ</a>
	<a class="menu-link text-dark" asp-controller="RemoteAccess" asp-action="HandRemoteAccess">Отключение/Включение удаленного доступа</a>

</div>