html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form__select{
    padding-top: 2%;
}

.form__autoRA{
    padding-top: 7%;
}

.form__calendar {
    margin: 0.1rem 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

table {
    width: 100%;
    height: 100%;
}

th, td {
    border: 1px solid rgb(66, 63, 63);
    <!-- border-bottom: 1px solid rgb(66, 63, 63); -->
    padding: 1.5em;
    text-align: center;
}

.table-row:hover {
    background-color: lightgreen;
}
