html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.FormDataARA__inputFile{
    margin-bottom: 10px;
}


.FormDataARA {
    padding: 20px;
    border-radius: 10px;
}

.header {
    margin-bottom: 40px;
}

.login__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.login-box {
    border: 2px solid #ccc;
    padding: 30px;
    text-align: center;
    width: 300px;
    border-radius: 10px;
}

    .login__container input {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
        border-radius: 5px;
    }

    .login__container button {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background-color: #124e91;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 14px;
        border-radius: 5px;
    }

        .login__container button:hover {
            background-color: #1765bf;
        }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form__select{
    padding-top: 2%;
}

.form__autoRA{
    padding-top: 2%;
    padding-bottom: 2%;
}

.form__calendar {
    margin: 0.1rem 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
<<<<<<< Updated upstream
    margin-bottom: 60px;
    height: 100vh;
    
}
body, header {
    background: #124e91 !important;
=======
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
>>>>>>> Stashed changes
}

table {
    width: 100%;
    height: 100%;
}

th, td {
    border: 1px solid rgb(66, 63, 63);
    <!-- border-bottom: 1px solid rgb(66, 63, 63); -->
    padding: 1.5em;
    text-align: center;
}

.table-row:hover {
    background-color: lightgreen;
    cursor:pointer;
}
.menu-list {
    display: flex !important;
    justify-content: center;
    align-items:center;
    flex-direction:column !important;
    height: 100vh;
    
}

.menu-link {
    display: flex !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 57% !important;
    height: 35%;
    border-radius: 25px;
    margin-bottom: 10px;
    border: 7px solid #49b3dba3;
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.menu-list a:hover {
    background-color: #49b3dba3 !important;
    cursor: pointer;
}
.authside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
    .authside form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 50vh;
    }
        .authside form input {
            border: none;
            border-bottom: 1px solid #b7b9b8 !important;
            text-underline-offset: unset;
            outline: none;
            width: 45%;
            margin-bottom: 7%;
        }
        .authside form button {
            width: 45%;
            height: 70px;
            background: none;
            border-radius: 12px;
            border-color: #ebdc5648;
        }
.authside__logo {
    display: block;
    width: 36rem;
    margin: 0 -2rem 2rem;
}
            .authside form button:hover {
                background: #f2ff2f49 !important;
            }

